body {
    margin-left: 30px;
    margin-right: 30px;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.mi-carrito {
    color:#ff7900;
    margin-top: 30px;
    margin-left: 60px;
}

.div-carrito {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-carrito-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.table-carrito {
    width: 90%;
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 20px;
}

.table-carrito td {
    width: 30px;
}

.carrito-vacio {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.table-header{
    background-color: #ff7900;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.table-header th {
    text-align: center;
}

.row-producto {
    text-align: center;
}

.row-producto td {
    width: 212.83px;
}

.cantidad-row form {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button-cantidad {
    background-color: #ff7900;
    color: white;
    border: none;
}

.button-eliminar {
    background-color: #ff7900;
    color: white;
    border: none;
}

.preciototal {
    padding: 20px;
    width: auto;
}

.container-precio {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalizar-button {
    background-color: #ff7900;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.finalizar {
    width: auto;
}

.finalizar form {
    max-width: 140px;
    margin: 20px;
}

.h2-vacio {
    color: #ff7900;
}
