body {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

.menu-header {
    display: flex;
    justify-content: center;
}

.categorias {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px 40px 0px;
    width: 100%;   

}

.orange {
    background-color: #FF7900;
    width: 353px;
    height: 265px;
    border-radius: 5px;
    border: 3px solid #FF7900;
    padding-left: 0px;
    padding-right: 0px;
}

.img-top {
    height: 224px;
    width: 348px;
}


.card-body {
    padding: 0;
}

.card-text {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    line-height: 39px;
    height: 39px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.seccion-card {
    display: flex;
    width: 1371px;
    margin: 40px 0px 40px 0px;
    border-radius: 1px;
    border: 2px solid #d9d9d9;
}

.div-img-noticias{
    padding-left: 0;
    padding-right: 0;
}

.contenedor {
    width: 685.5px;
    padding: 20px 20px 20px 20px;
    padding-left: 0;
    padding-right: 0;
}

.titulo-seccion {
    font-size: 35px;
    color: #FF7900;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.boton-vermas {
    background-color: #FF7900;
    color: #FFFFFF;
    border: 1px solid #FF7900;
    border-radius: 3px;
    padding: 8px 24px 8px 24px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.imgnoticias {
    width: 685.5px;
    height:179px;
}

.section-noticias {
    display: flex;
}

.noticia{
    height: 507px;
    width: 327px;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 20px 10px 20px 10px;
}

.img-noticia {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}

.div-texto-noticia {
    padding: 5px;
}

.titulo-noticia {
    font-size: 18px;
    font-weight: 700;
    width: 282px;
    margin: 20px 10px 20px 10px;
    
}

.texto-noticia {
    font-size: 14px;
    width: 282px;
    margin: 20px 10px 20px 10px;


}

.keywords-noticia {
    font-size: 14px;
    color: #007BFF; 
    width: 282px;
    margin: 30px 10px 20px 10px;

}

.section-descubre {
    background-image: url("../imagenes/descubre-background.png");
    background-size: cover;
    width: 100%;
    height: 819px;
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: center;

}

.contenido-descubre{
    margin: 0px 70px 0px 30px; 
}

.titulo-descubre {
    width: 594px;
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}

.boton-descubre {
    background-color: #FF7900;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    margin-top: 10px;
}

.seccion-info{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px 0px 100px 0px;
}

.contenedor-info {
    width: 366px;
    height: 61px;
}

.titulo-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.texto-info {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.div-productos {
    display: flex;
    justify-content: center;
}

.producto-carrito{
    display: flex;
    justify-content: center;
}