.container{
    display: flex;
    justify-content: center;
}

.forms {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    
    padding: 20px;
    border-radius: 3px;
    margin: 40px 0px 40px 0px;
}

.forms form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-weight: 700;
}

.form-admin {
    width: 200px;
}

form input {
    margin: 0px 0px 20px 0px;
}

.button-submit{
    border-radius: 4px;
    color: white;
    border: none;
    padding: 5px;
    background-color: #ff7900;
}

.input-cuerpo {
    width: 700px;
    height: 200px;
}

.form-reseña {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: auto;
    gap: 20px;
}

.input-reseña  {
    width: 150px;
}

.small {
    padding: 10px;
    width: 150px;
    font-size: 20px;
}

.select-puntuacion {
    width: 30px;
}



