.container{
    display: flex;
    justify-content: center;
}

.forms {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    
    padding: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

.forms form {
    display: table;
}

