header {
    width: 100%
}

header .container-fluid {
    display: flex;
    justify-content: center;
    background-color: transparent!important;
    padding: 30px 0px 15px 0px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0px 20px 0px 20px;
    color: white;
}

footer{
    border-top: solid 1px;
    border-color: #FF7900;
    width: 100%;
    display:flex;
    justify-content: center;
}

.footer img {
    height: 50px;
    width: auto;
}

