.container-fluid {
    max-width: 1450px;
    display: flex;
    justify-content: center;
    padding: 0;
}

.div-intro {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.div-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    border-radius: 3px;
}

.intro-texto{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.intro-imagen {
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.intro-imagen img {
    width: 100%;
    height: 360px;   
}

.intro-texto h1 {
    color: #ff7900;
    font-weight: 700px;
    font-size: 35px;
    padding-bottom: 40px;
}

.intro-texto h1, .intro-texto p {
    padding-left: 50px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.intro-texto p {
    font-size: 14.4px;
    font-family: 'Open Sans', sans-serif;
}


.div-reviews {
    height: auto;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 2%;

}

.review {
    margin: 30px 0px 30px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width: 32%;
    border-radius: 3px;
    overflow: hidden;
}

.header-review, .texto-review {
    padding: 15px;  
}

.perfil-review {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    font-size: 20px;
}

.intro-review {
    display: flex;
    justify-content: space-between;
}

.star-img {
    height: 20px;
    width: 20px;
}

.fecha {
    color: grey;
}

.info-review {
    gap: 10px;
}

.texto-review {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.texto-review h3 {
    color: #ff7900;
}

.div-filtros {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-toggle, #dropdown-toggle2 {
    display: none;
}

.dropdown-label {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-options li {
    padding: 3px;
}

.dropdown-option {
    cursor: pointer;
}

#dropdown-toggle:checked + .dropdown-label + .dropdown-options {
    display: block;
}


#dropdown-toggle2:checked + .dropdown-label + .dropdown-options {
    display: block;
}